.skill-logos {
  gap: 20px;
  margin-bottom: 20px;
  .tilt {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 200px;

    &.rails-logo {
      align-self: center;
      height: 120px;
    }

    img {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .skill-logos {
    gap: 10px;
    .tilt {
      height: 110px;
      width: auto;

      &.rails-logo {
        height: 110px;
      }
    }
  }
}