.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 20px;

  .about-content {
    background-color: var(--section-bg);
    border-radius: 8px;
    display: inline-block;
    max-width: 780px;
    padding: 20px;
    width: 60%;
  }

  .about-image {
    display: inline-block;
    max-width: 440px;
    width: 34%;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
}
