.contact {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;

  .contact-form-wrapper {
    background-color: #006c86;
    border-radius: 8px;
    display: inline-block;
    max-width: 580px;
    padding: 20px;
    width: 45%;

    .contact-form {
      label {
        color: #fff;
        display: block;
        margin-bottom: 10px;
      }

      input,
      textarea {
        background-color: var(--section-bg);
        border-radius: 4px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        color: #fff;
        display: block;
        margin-bottom: 15px;
        padding: 10px;
        width: 100%;

        &::placeholder {
          color: var(--text);
          font-family: 'CoolveticaRegular', Helvetica, sans-serif;
          font-size: 1.2rem;
        }
      }

      input[type='submit'] {
        background-color: var(--section-bg);
        color: var(--text);
        cursor: pointer;
        font-weight: bold;
        margin-top: 30px;
        transition: background-color 0.3s;
        width: 20%;

        &:hover {
          background-color: var(--button-hover);
        }

        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .contact {
    margin: 0 20px 20px;
  }
}

@media (max-width: 920px) {
  .contact {
    flex-wrap: wrap;
  }
}

@media (max-width: 891px) {
  .contact {
    .contact-image {
      margin-right: 0;
    }
    .contact-form-wrapper {
      box-sizing: border-box;
      margin-bottom: 20px;
      max-width: none;
      width: 95%;
    }
  }
}

@media (max-width: 540px) {
  .contact .contact-form-wrapper .contact-form input[type='submit'] {
    width: 40%;
  }
}