.experience {
  border-radius: 8px;
  /* margin: auto 0 0 auto; */
  margin: 0 auto 20px;
  max-width: 1280px;
  padding: 20px;

  h2 {
    text-align: center;
  }

  .vertical-timeline-element-title,
  .vertical-timeline-row {
    padding-left: 30px;
  }

  .vertical-timeline-row {
    flex-wrap: nowrap;
    justify-content: space-between;

    .vertical-timeline-element-subtitle,
    .vertical-timeline-element-location {
      display: inline-block;
      margin: 0;
    }
    .vertical-timeline-element-subtitle {
      color: white;
      font-weight: 700;

      &:hover {
        color: var(--link-hover);
      }
    }
  }

  .vertical-timeline-element-icon {
    background: 'none',
  }

  .vertical-timeline-element-icon:has(> img.square) {
    background-color: black;
    border-radius: 4px;
  }

  .vertical-timeline-element-content {
    box-shadow: none;

    ul {
      padding: 0 30px;
    }
  }
  .work-icon {
    width: 100%;
  }

  .resume-link {
    text-align: center;
  }
}