.experience {
  border-radius: 8px;
  /* margin: auto 0 0 auto; */
  margin: 0 auto 20px;
  max-width: 800px;
  padding: 20px;
  text-align: center;

  .vertical-timeline-element-icon {
    background: 'none',
  }

  .vertical-timeline-element-icon:has(> img.square) {
    background-color: black;
    border-radius: 4px;
  }


  .vertical-timeline-element-content {
    box-shadow: none;
  }
  .work-icon {
    width: 100%;
  }
}